<form style="text-align: left" action="/confirm" method="POST">
  <div class="form-group">
    <label for="exampleInput">名前</label>
    <input type="text" name="name" class="form-control" id="nameInput" aria-describedby="nameHelp" placeholder="名前">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">タイトル</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="タイトル">
  </div>

  <div class="form-group">
    <label for="exampleTextarea">コメント</label>
    <textarea class="form-control" name="content" id="exampleTextarea" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">送信</button>
</form>